---
import { getEntry, render } from 'astro:content';
import Base from '../layouts/Base.astro';

const seite = await getEntry('seiten', 'datenschutz');
const { Content } = await render(seite!);
---
<Base title="Datenschutz – Fach- und Hausarztpraxis Dres. Ertl">
  <div class="container legal">
    <h1>{seite!.data.titel}</h1>
    <Content />
  </div>
</Base>
