---
import { getCollection } from 'astro:content';

const aerzte = (await getCollection('aerzte')).sort((a, b) => a.data.reihenfolge - b.data.reihenfolge);
const team = (await getCollection('team')).sort((a, b) => a.data.reihenfolge - b.data.reihenfolge);
const fotos = [...aerzte.map((a) => ({ src: a.data.foto, alt: a.data.name })), ...team.map((t) => ({ src: t.data.foto, alt: t.data.name }))];
---
<div class="team-carousel" data-carousel>
  {fotos.map((f) => (
    <img src={f.src} alt={f.alt} loading="lazy" />
  ))}
</div>

<script>
  document.querySelectorAll('[data-carousel]').forEach((el) => {
    const imgs = el.querySelectorAll('img');
    let offset = 0;
    setInterval(() => {
      offset = (offset + 1) % imgs.length;
      imgs.forEach((img) => {
        (img as HTMLElement).style.transform = `translateX(-${offset * 100}%)`;
      });
    }, 3500);
  });
</script>
